

<h1>Usuarios registrados</h1>

<div style="width: 800px">
    <p ng-hide="users.length > 0">Cargando...</p>
    <table ng-show="users.length > 0" border="1px solid" width="100%">
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Fecha registro</th>
            <th>Rol</th>
            <th>Opciones</th>
        </tr>
        <tr ng-repeat="user in users">
            <td>{{user.user_id}}</td>
            <td>{{user.email}}</td>
            <td>{{user.register_date}}</td>
            <td>{{user.role_name}}</td>
            <td>
                <button ng-click="delete(user)">Eliminar</button>
                <button ng-click="disable(user)">Deshabilitar</button>
                <button ng-click="edit(user)">Editar</button>
            </td>
        </tr>
    </table>
</div>