<!-- schedule -->
<div class="schedule-container">
    <h2>Horas disponibles</h2>
    <hr>
    <p ng-hide="daysAndHours.length > 0">{{status.message}}</p>
    <div class="schedule" ng-show="daysAndHours.length > 0">
        
        <div class="column-item" ng-repeat="dh in daysAndHours">
            <div class="cell-item cell-header">{{dh.day}}</div>
            <div class="cell-item cell-hour" ng-repeat="data in dh.data" ng-click="toggleHour($event)" data-day-number="dh.day_number" data-hour-id="data.id">{{data.hour}}</div>
        </div>

    </div>
    <!-- end schedule -->
</div>
<!-- end schedule container -->


<div class="subject-container">
    <h2>Materias para asesorias</h2>
    <hr>
</div>