<div class="unix-login">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="login-content card">

                    <div class="login-form">
                        <h1>Registro de usuario</h1>
                        <form ng-submit="signup(student)">
                            <!-- _______Alerts_______ -->
                            <div ng-show="alert.type == 'error'" class="alert alert-danger fade show">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <strong>Santo guacamole!</strong> Ocurrio un error: {{alert.message}}
                            </div>
                            <div ng-show="alert.type == 'warning'" class="alert alert-warning fade show">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <strong>Ups!</strong>  {{alert.message}}
                            </div>
                            <div ng-show="alert.type == 'success'" class="alert alert-success fade show">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <strong>Good Job!</strong> {{alert.message}}
                            </div>

                            <!-- ___-Form____ -->
                            <div class="row">
                            
                                <div class="personal-data col-sm-12 col-lg-6">
                                    <div class="form-header">
                                        <h3>Datos de estudiante</h3>
                                    </div>

                                    <div class="form-group">
                                        <label>Nombre:</label>
                                        <input type="text" class="form-control" placeholder="Nombre" ng-model="student.first_name" required>
                                    </div>
    
                                    <div class="form-group">
                                        <label>Apellido:</label>
                                        <input type="text" class="form-control" placeholder="Apellido" ng-model="student.last_name" required>
                                    </div>
    
                                    <div class="form-group">
                                        <label>ID de Itson:</label>
                                        <input type="text" class="form-control" placeholder="0000011111" ng-model="student.itson_id" required>
                                    </div>
    
                                    <div class="form-group">
                                        <label>Carrera:</label>
                                        <select class="form-control" ng-model="student.career">
                                            <option ng-repeat="c in careers" value="{{c.id}}">{{c.name}}</option>
                                        </select>
                                    </div>
    
                                    <div class="form-group">
                                        <label>Télefono:</label>
                                        <input type="text" class="form-control" placeholder="644 -" ng-model="student.phone">
                                    </div>

                                    <div class="form-group">
                                        <label>Facebook:</label>
                                        <input type="text" class="form-control" placeholder="https://www.facebook.com/perfil" ng-model="student.facebook">
                                    </div>
                                </div>
    
    
                                <div class="user-data col-sm-12 col-lg-6">
                                    <div class="form-header">
                                        <h3>Datos de acceso</h3>
                                    </div>

                                    <div class="form-group">
                                        <label>Correo electronico:</label>
                                        <input type="email" class="form-control" placeholder="Email" ng-model="student.email" required>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" class="form-control" placeholder="Password" ng-model="student.pass" required>
                                    </div>
    
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" class="form-control" placeholder="Password" ng-model="student.pass2" required>
                                    </div>
                                </div>
                            </div>

                            <button ng-disabled="loading.status" type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">
                                <span ng-hide="loading.status">Registrar</span>
                                <span ng-show="loading.status"><li class="fa fa-spinner fa-spin"></li></span>
                            </button>
                            
                            <div class="register-link m-t-15 text-center">
                                <p>Ya tienes una cuenta ? <a href="#!/signin"> Iniciar Sesion</a></p>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
