<div class="section section-subjects" ng-controller="SubjestsController">
    <div class="container">


        <!-- subjects -->
        <div class="subjects-container">
            <!-- spinner -->
            <div class="spinner-container" ng-if="loading">
                <div class="spinner"></div>
            </div>
    
            <p ng-if="!loading">Poner una descripción de para que son estas materias</p>

            <button class="btn btn-primary" ng-click="openSubjectsUpdate()">Actualizar mis materias</button>


            <div class="subjects selected-items" ng-if="!loading">
                <!-- emtpy advisories -->
                <!-- <div class="empty text-center" ng-if="schedule.subjects == 0">
                    <p class="alert alert-primary">No ha seleccionado materias</p>
                    <p>Cambiar por imagen jejeje</p>
                </div> -->

                <!-- items -->
                <div class="item" ng-repeat="sub in schedule.subjects" data-id="{{sub.id}}" data-subject-id="{{sub.subject_id}}">{{sub.subject_name}}</div>
                <!-- end items -->
            </div>

        </div>
        <!-- end subjects
        
        
        <!-- Modal -->
        <!-- <div class="new-advisory-container modal-wrap fadeIn" ng-if="showNewRequest">
            <div class="container">
                
                <div class="col-lg-12">
                    <div class="card">
                        <div class="subjects-container">
                            <div class="options">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="buscar">
                                </div>
                                <button class="btn btn-outline-danger" ng-click="closeNewAdvisory()">Cancelar</button>
                                <button class="btn btn-outline-success" ng-click="requestAdvisory()">Solicitar</button>
                            </div>
                            <div class="subjects selected-items">
                                <div class="item" ng-show="selectedSub != null" ng-click="selectedSub = null" data-subject-id="{{selectedSub.subject_id}}">{{selectedSub.name}}</div>
                            </div>
                            <hr>
                
                            <div class="subjects selectable">
                                <div class="item" ng-repeat="sub in subjects" ng-click="selectSub(sub)" data-subject-id="{{sub.subject_id}}">{{sub.name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>
        </div> -->

    </div>
</div>

