<div class="container">
    <h1>Carreras registradas</h1>
    <button ng-click="newCareer = true" class="btn btn-primary">Nueva carrera</button>
    <button ng-click="updateCareer = true" class="btn btn-primary">Editar carrera</button>
    <button ng-click="updateStatusCareer = true" class="btn btn-primary">Cambiar Status</button>
    <br><br>
    
    <div class="row">
        <div class="col-sm-6">
            <div ng-show="newCareer">
                <form action="" ng-submit="add(career)">
                    <input required type="text" class="form-control" placeholder="Nombre carrera" ng-model="career.name"><br>
                    <input required type="text" class="form-control" placeholder="Abreviatura" ng-model="career.short_name"><br>       
                    <button class="btn btn-success" >Registrar carrera</button>
                </form>
            </div>
        </div>
        <div class="col-sm-6">
            <div ng-show="updateCareer">
                <form action="" ng-submit="update(career)">
                    <input required type="number" class="form-control" placeholder="Id carrera" ng-model="career.id"><br>
                    <input required type="text" class="form-control" placeholder="Nombre carrera" ng-model="career.name"><br>
                    <input required type="text" class="form-control" placeholder="Abreviatura" ng-model="career.short_name"><br>       
                    <button class="btn btn-success" >Actualizar carrera</button>
                </form>
            </div>
        </div>
        <div class="col-sm-6">
            <div ng-show="updateStatusCareer">
                <form action="" ng-submit="updateStatus(career)">
                    <input required type="text" class="form-control" placeholder="Id carrera" ng-model="career.id"><br>
                    <input required type="text" class="form-control" placeholder="Status" ng-model="career.status"><br>       
                    <button class="btn btn-success" >Cambiar status carrera</button>
                </form>
            </div>
        </div>
    </div>
    <br><br>

    <div style="width: 800px">
        <p ng-hide="careers.length > 0">{{loader.message}}</p>
        <table ng-show="careers.length > 0" border="1px solid" width="100%">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Abreviatura</th>
                <th>Registro</th>
                <th>Estatus</th>
            </tr>
            <tr ng-repeat="career in careers">
                <td>{{career.id}}</td>
                <td>{{career.name}}</td>
                <td>{{career.short_name}}</td>
                <td>{{career.date_register}}</td>
                <td>{{career.status}}</td>
                <td>
                    <button ng-click="deleteCareer(career.id)" class="btn btn-danger btn-sm">Eliminar</button>
                </td>
            </tr>
        </table>
    </div>
</div>