.container {
  max-width: 1200px;
  padding: 0 20px; }

.content-wrapper {
  padding: 50px 0; }

.no-scroll {
  overflow: hidden; }

body {
  background-color: #F9F9FB; }

.flicker {
  -webkit-animation: flick;
  animation: flick;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes flick {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes flick {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.slide.ng-enter {
  -webkit-animation-duration: .25s;
  animation-duration: .25s;
  height: 0; }

.slide.ng-enter-active {
  height: auto; }

.slide.ng-leave {
  -webkit-animation-duration: .25s;
  animation-duration: .25s;
  height: auto; }

.slide.ng-leave-active {
  height: 0; }

.slideUp {
  -webkit-animation-duration: .25s;
  animation-duration: .25s;
  -webkit-animation: slideUp;
  animation: slideUp; }

@-webkit-keyframes slideUp {
  from {
    height: auto; }
  to {
    height: 0; } }

@keyframes slideUp {
  from {
    height: auto; }
  to {
    height: 0; } }

.slideDown {
  -webkit-animation-duration: .25s;
  animation-duration: .25s;
  -webkit-animation: slideUp;
  animation: slideUp; }

@-webkit-keyframes slideDown {
  from {
    height: 0; }
  to {
    height: auto; } }

@keyframes slideDown {
  from {
    height: 0; }
  to {
    height: auto; } }

@-webkit-keyframes active-hour {
  from {
    background-color: rgba(242, 114, 128, 0); }
  to {
    background-color: #f27280; } }

@keyframes active-hour {
  from {
    background-color: rgba(242, 114, 128, 0); }
  to {
    background-color: #f27280; } }

.fadeIn.ng-enter {
  opacity: 0;
  -webkit-transition: all ease-in 0.25s;
  -o-transition: all ease-in 0.25s;
  transition: all ease-in 0.25s; }

.fadeIn.ng-enter-active {
  opacity: 1; }

.fadeOut.ng-leave {
  opacity: 1;
  -webkit-transition: all ease-in 0.25s;
  -o-transition: all ease-in 0.25s;
  transition: all ease-in 0.25s; }

.fadeOut.ng-leave-active {
  opacity: 0; }

.color-secondary {
  color: #8E1D39 !important; }
  .color-secondary:hover {
    color: #FF3366 !important; }

.spinner {
  width: 40px;
  height: 40px;
  background-color: #FF3366;
  margin: auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

.modal-wrap, .modal-main {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(33, 33, 33, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .modal-wrap .card, .modal-main .card {
    height: 500px;
    overflow-y: scroll; }

.advisories-container .advisories .item {
  background-color: #fff;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid rgba(33, 33, 33, 0.3);
  border-radius: 7px;
  width: 100%;
  max-width: 200px;
  height: 300px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .advisories-container .advisories .item:hover {
    border-color: #FF3366;
    -webkit-box-shadow: 0 3px 5px rgba(33, 33, 33, 0.2);
    box-shadow: 0 3px 5px rgba(33, 33, 33, 0.2); }
  .advisories-container .advisories .item .avatar {
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden; }
    .advisories-container .advisories .item .avatar img {
      width: 100%; }
  .advisories-container .advisories .item .info {
    position: relative; }
    .advisories-container .advisories .item .info .student {
      font-weight: bold;
      margin: 10px 0; }
    .advisories-container .advisories .item .info .subject {
      margin-bottom: 10px;
      overflow: hidden;
      height: 50px;
      max-height: 50px; }
    .advisories-container .advisories .item .info .btn-opt {
      position: absolute;
      color: #dc3545;
      cursor: pointer;
      bottom: -35px;
      left: 55px;
      background: none;
      border: none;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .advisories-container .advisories .item .info .btn-opt:hover {
        background-color: #dc3545;
        color: #fff; }

.advisories-container .advisories .new {
  border-color: #3A99D9;
  cursor: pointer; }
  .advisories-container .advisories .new:hover {
    background-color: rgba(58, 153, 217, 0.1); }
  .advisories-container .advisories .new .icon-container {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .advisories-container .advisories .new .icon-container .icon {
      border: 2px solid #3A99D9;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 2.5em;
      color: #3A99D9; }

.advisories-container .double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .advisories-container .double .item-double {
    padding-bottom: 130px;
    overflow: visible;
    position: relative;
    height: auto;
    max-width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    cursor: auto; }
    .advisories-container .double .item-double .student-item {
      padding: 10px 20px;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      width: 100%; }
      .advisories-container .double .item-double .student-item .title {
        width: 100%;
        display: block;
        font-weight: bold; }
      .advisories-container .double .item-double .student-item .avatar {
        margin-bottom: 10px; }
      .advisories-container .double .item-double .student-item .info .name {
        width: 100%; }
      .advisories-container .double .item-double .student-item:nth-child(1) {
        border-right: 1px dashed #a3a3a3; }
    .advisories-container .double .item-double .info-container {
      position: absolute;
      z-index: 20;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      padding: 15px; }
      .advisories-container .double .item-double .info-container .subject {
        font-weight: bold; }
      .advisories-container .double .item-double .info-container .status {
        margin: 15px 0; }
        .advisories-container .double .item-double .info-container .status .badge {
          font-size: 1em; }
      .advisories-container .double .item-double .info-container .btn-opt {
        font-size: 1.1em;
        color: #dc3545;
        cursor: pointer;
        bottom: -35px;
        left: 55px;
        background: none;
        border: none; }
        .advisories-container .double .item-double .info-container .btn-opt:hover {
          background-color: #dc3545;
          color: #fff; }
      .advisories-container .double .item-double .info-container .opt-success {
        color: #28A745;
        -webkit-animation-name: assign;
        animation-name: assign;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-direction: alternate;
        animation-direction: alternate;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite; }
        .advisories-container .double .item-double .info-container .opt-success:hover {
          background-color: #28A745; }

.advisories-container .new-advisorie-container {
  position: fixed;
  z-index: 100;
  background-color: #303030;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .advisories-container .new-advisorie-container .content {
    color: #fff; }

.modal-wrap, .modal-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.subjects-container {
  margin-bottom: 20px;
  height: 200px;
  width: 100%; }
  .subjects-container .subjects {
    padding: 20px 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%; }
    .subjects-container .subjects .item {
      display: block;
      padding: 7px 12px;
      margin: 0 10px 10px 0;
      border-radius: 10px;
      color: #1B95E0;
      font-weight: bold;
      border: 1px solid #1B95E0;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
  .subjects-container .selectable .item {
    cursor: pointer; }
    .subjects-container .selectable .item:hover {
      background-color: #1B95E0;
      color: #fff; }
  .subjects-container .selected-items .item {
    border-color: #FF5555;
    color: #FF5555; }
    .subjects-container .selected-items .item:hover {
      background-color: #FF5555;
      color: #fff; }

.schedule-container .schedule {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto; }
  .schedule-container .schedule .column-item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: inline-block;
    text-align: center; }
    .schedule-container .schedule .column-item .cell-item {
      color: #212121;
      padding: 10px 20px;
      background: #DDDBDB;
      border: 2px solid #fff; }
    .schedule-container .schedule .column-item .cell-header {
      background-color: #345D7E;
      color: #fff;
      font-weight: bold; }
    .schedule-container .schedule .column-item .active {
      background-color: #F27280;
      -webkit-animation-name: active-hour;
      animation-name: active-hour;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      color: #fff;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
  .schedule-container .schedule .hide {
    display: none; }

.schedule-container .selectable .column-item .cell-hour {
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .schedule-container .selectable .column-item .cell-hour:hover {
    background-color: #c9c7c7; }

.schedule-container .selectable .column-item .active {
  background-color: #404040;
  -webkit-animation-name: selected;
  animation-name: selected;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .schedule-container .selectable .column-item .active:hover {
    background-color: #2c2c2c; }

.schedule-container .selectable-actives .active-selected {
  background-color: #1B95E0 !important; }
  .schedule-container .selectable-actives .active-selected:hover {
    background-color: #0781cc !important; }

header.header {
  background-color: #1F2532; }
  header.header .main-menu .nav-bar {
    margin: 0;
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    header.header .main-menu .nav-bar .nav-item {
      margin-left: 45px;
      list-style: none; }
      header.header .main-menu .nav-bar .nav-item .nav-btn {
        color: #596377;
        font-weight: bold;
        text-decoration: none;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        letter-spacing: .8px;
        text-transform: uppercase;
        font-size: .8em; }
        header.header .main-menu .nav-bar .nav-item .nav-btn:hover {
          color: #fff; }
      header.header .main-menu .nav-bar .nav-item .active {
        color: #fff; }
  header.header .header-title {
    color: #fff;
    padding-bottom: 50px;
    margin: 0; }
    header.header .header-title .title {
      margin: 0;
      font-weight: 100; }

.modal-main {
  background-color: #1F2532;
  color: #fff; }
  .modal-main .content {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .modal-main .content .spinner {
      margin: 20px; }

.main .sub-menu {
  background-color: #1F2532; }
  .main .sub-menu .nav-bar {
    margin: 0;
    padding: 0; }
    .main .sub-menu .nav-bar .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .main .sub-menu .nav-bar .menu-item {
      list-style: none; }
      .main .sub-menu .nav-bar .menu-item .menu-tab {
        color: #898f9a;
        text-decoration: none;
        padding: 18px 11px 20px;
        margin-right: 30px;
        letter-spacing: .8px;
        display: block;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        text-transform: uppercase;
        font-size: 1em; }
        .main .sub-menu .nav-bar .menu-item .menu-tab:hover {
          color: #fff; }
      .main .sub-menu .nav-bar .menu-item .menu-tab.active {
        color: #fff;
        -webkit-box-shadow: inset 0 -4px 0px #FF3366;
        box-shadow: inset 0 -4px 0px #FF3366; }
