.main {
  padding: 20px 0; }
  .main .section-profile .avatar-container {
    width: 230px;
    height: 230px;
    background-color: #212121;
    border-radius: 7px;
    overflow: hidden; }
    .main .section-profile .avatar-container img {
      width: 100%; }
  .main .section-profile .data {
    font-family: calibri; }
    .main .section-profile .data .name {
      margin-bottom: 15px; }
    .main .section-profile .data .data-item {
      color: #404040;
      display: block;
      margin-bottom: 5px; }
      .main .section-profile .data .data-item .icon {
        width: 35px; }
  .main .section-content .advisories .item {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid rgba(33, 33, 33, 0.3);
    border-radius: 7px;
    width: 100%;
    max-width: 200px;
    height: 250px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .main .section-content .advisories .item:hover {
      -webkit-box-shadow: 0 3px 5px rgba(33, 33, 33, 0.2);
      box-shadow: 0 3px 5px rgba(33, 33, 33, 0.2); }
    .main .section-content .advisories .item .avatar {
      margin: 0 auto;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      overflow: hidden; }
      .main .section-content .advisories .item .avatar img {
        width: 100%; }
    .main .section-content .advisories .item .info {
      position: relative; }
      .main .section-content .advisories .item .info .student {
        font-weight: bold;
        margin-bottom: 10px; }
      .main .section-content .advisories .item .info .subject {
        margin-bottom: 10px; }
  .main .section-content .advisories .new {
    border-color: #3A99D9; }
    .main .section-content .advisories .new:hover {
      background-color: rgba(58, 153, 217, 0.1); }
    .main .section-content .advisories .new .icon-container {
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .main .section-content .advisories .new .icon-container .icon {
        border: 2px solid #3A99D9;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 2.5em;
        color: #3A99D9; }
  .main .section-content .new-advisorie-container {
    position: fixed;
    z-index: 100;
    background-color: #303030;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .main .section-content .new-advisorie-container .content {
      color: #fff; }

.schedule-container .schedule {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .schedule-container .schedule .column-item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: inline-block;
    text-align: center; }
    .schedule-container .schedule .column-item .cell-item {
      color: #212121;
      padding: 10px 20px;
      background: #DDDBDB;
      border: 2px solid #fff; }
    .schedule-container .schedule .column-item .cell-header {
      background: #92E55A;
      font-weight: bold; }
    .schedule-container .schedule .column-item .active {
      background-color: #FF5555;
      -webkit-animation-name: active;
      animation-name: active;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      color: #fff;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }

@-webkit-keyframes active {
  from {
    background-color: rgba(255, 85, 85, 0); }
  to {
    background-color: #ff5555; } }

@keyframes active {
  from {
    background-color: rgba(255, 85, 85, 0); }
  to {
    background-color: #ff5555; } }
  .schedule-container .schedule .hide {
    display: none; }

.schedule-container .selectable .column-item .cell-hour {
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .schedule-container .selectable .column-item .cell-hour:hover {
    background-color: #c9c7c7; }

.schedule-container .selectable .column-item .active:hover {
  background-color: #eb4141 !important; }

.fadeIn {
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

.fadeOut {
  opacity: 0;
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
