.schedule-container .schedule {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll; }
  .schedule-container .schedule .column-item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: inline-block;
    text-align: center; }
    .schedule-container .schedule .column-item .cell-item {
      color: #212121;
      padding: 10px 20px;
      background: #DDDBDB;
      border: 2px solid #fff; }
    .schedule-container .schedule .column-item .cell-header {
      background: #92E55A;
      font-weight: bold; }
    .schedule-container .schedule .column-item .active {
      background-color: #FF5555;
      -webkit-animation-name: active;
      animation-name: active;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      color: #fff;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }

@-webkit-keyframes active {
  from {
    background-color: rgba(255, 85, 85, 0); }
  to {
    background-color: #ff5555; } }

@keyframes active {
  from {
    background-color: rgba(255, 85, 85, 0); }
  to {
    background-color: #ff5555; } }
  .schedule-container .schedule .hide {
    display: none; }

.schedule-container .selectable .column-item .cell-hour {
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .schedule-container .selectable .column-item .cell-hour:hover {
    background-color: #c9c7c7; }

.schedule-container .selectable .column-item .active {
  background-color: #404040;
  -webkit-animation-name: selected;
  animation-name: selected;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .schedule-container .selectable .column-item .active:hover {
    background-color: #2c2c2c; }

.schedule-container .selectable-actives .active-selected {
  background-color: #1B95E0 !important; }
  .schedule-container .selectable-actives .active-selected:hover {
    background-color: #0781cc !important; }
