
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card card card-outline-info">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">Formulario de registro</h4>
                </div>


                <!-- loader -->
                <div class="loader" ng-show="loading">
                    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                </div>


                <div class="card-body" ng-show="!loading">
                    <!-- _______Alerts_______ -->
                    <div ng-show="alert.type == 'error'" class="alert alert-danger fade show">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <strong>Santo guacamole!</strong> Ocurrió un error: {{alert.message}}
                    </div>
                    <div ng-show="alert.type == 'warning'" class="alert alert-warning fade show">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <strong>Ups!</strong>  {{alert.message}}
                    </div>
                    <div ng-show="alert.type == 'success'" class="alert alert-success fade show">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <strong>Good Job!</strong> {{alert.message}}
                    </div>

                    <!-- _______Form________ -->
                    <form action="" ng-submit="addSubject(subject)">
                            
                        <div class="form-group">
                            <label for="name">Nombre:</label>
                            <input type="text" id="name" class="form-control" ng-model="subject.name" required>
                        </div>

                        <div class="form-group">
                            <label for="short_name">Abreviación:</label>
                            <input type="text" id="short_name" class="form-control" ng-model="subject.short_name">
                        </div>

                        <div class="form-group">
                            <label for="description">Descripción:</label>
                            <textarea name="" id="description" class="form-control" ng-model="subject.description" rows="5"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="semester">Semestre:</label>
                            <input type="number" id="semester" class="form-control" min="1" max="12" ng-model="subject.semester" required>
                        </div>

                        <div class="form-group">
                            <label for="plan">Plan:</label>
                            <select  id="plan" class="form-control" ng-model="subject.plan_id">
                                <option ng-repeat="p in plans" value="{{p.id}}">{{p.year}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="career">Carrera:</label>
                            <select  id="career" class="form-control" ng-model="subject.career_id">
                                <option ng-repeat="c in careers" value="{{c.id}}">{{c.name}}</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-success">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>