<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <!-- content -->

            <div class="card">
                
                <div class="card-body">
                    <!-- advisories -->
                    <div class="advisories-container">
                        <div class="advisories  double">

                            <p ng-show="advisories.length == 0">No hay asesorias</p>
                            <!-- double -->
                            <div class="item item-double" ng-repeat="ad in advisories" data-advisory-id="ad.id">
                            
                                <!-- alumno -->
                                <div class="alumno student-item">
                                    <h4 class="title">Alumno</h4>
                                    <div class="avatar">
                                        <img ng-show="ad.alumn_id != null" src="../../../../assets/img/student_assign.jpg" alt="">
                                    </div>
                                    <div class="info">
                                        <div class="name"><a href="#">{{ad.alumn_first_name}} {{ad.alumn_last_name}}</a></div>
                                    </div>
                                </div>
                                <!-- end-alumno -->

                                <!-- adviser -->
                                <div class="adviser student-item">
                                    <h4 class="title">Asesor</h4>
                                    <div class="avatar">
                                        <img ng-show="ad.adviser_id != null" src="../../../../assets/img/teacher_assign.jpg" alt="">
                                        <img ng-show="ad.adviser_id == null" src="../../../../assets/img/teacher_empty.jpg" alt="">
                                    </div>
                                    <div class="info">
                                        <div class="name" ng-show="ad.adviser_id != null"><a href="#">{{ad.adviser_first_name}} {{ad.adviser_last_name}}</a></div>
                                        <div class="name" ng-show="ad.adviser_id == null">SIN ASESOR</div>
                                    </div>
                                </div>
                                <!-- end-adviser -->

                                <div class="info-container">
                                    <!-- TODO: agregar enlace a materia -->
                                    <div class="subject">
                                        {{ad.subject_name}}
                                    </div>

                                    <div class="status">
                                        <span ng-show="ad.status == 1" class="label label-warning">Pendiente</span>
                                        <span ng-show="ad.status == 2" class="label label-success">Activo</span>
                                        <span ng-show="ad.status == 3" class="label label-danger">Finalizado</span>
                                    </div>

                                    <button class="btn-opt" ng-show="ad.status == 1 || ad.status == 2"><span class="fa fa-times"></span> Finalizar</button>
                                    <button ng-show="ad.status == 1" class="btn-opt opt-success" ng-click="openAssign(ad)"><span class="fa fa-plus"></span> Asignar</button>
                                </div>

                            </div>
                            <!-- end double -->
                        </div>
                    </div>
                    <!-- end advisories -->
                </div>
            </div>

            <!-- end content -->
        </div>
    </div>
</div>


<div class="assign-container modal-container fadeIn" ng-show="showAssign">
    <div class="card content">
        <!-- TODO: estilizar -->
        <button ng-click="closeAssign()" class="btn-close"><span class="fa fa-times"></span> Cancelar</button>

        <!-- advisers -->
        <div class="advisers-container" ng-show="showAdvisers">
            <h2 class="title">Asesores disponibles</h2>
            
            <!-- advisers -->
            <div class="advisers">

                <!-- message -->
                <p ng-hide="advisers.length > 0">No hay asesores disponibles</p>
                
                <!-- items -->
                <div class="item" ng-repeat="ad in advisers" ng-show="advisers.length > 0" ng-click="getMatchSchedule(ad)">
                    <div class="avatar">
                        <img src="../../../../assets/img/teacher_assign.jpg" alt="">
                    </div>
                    <div class="info">
                        <span class="name">{{ad.name}}</span>
                    </div>
                </div>
                <!-- end items -->

            </div>
            <!-- end advisers -->

        </div>
        <!-- end advisers -->
        
        
        <div class="schedule-container" ng-show="showSchedule">
            <button ng-click="backToAdvisers()" class="btn btn-primary"><span class="fa fa-arrow-left"></span> Volver</button>

            <!-- adviser -->
            <div class="selected-adviser" ng-show="selectedAdviser != null">
                <!-- items -->
                <div class="item">
                    <div class="avatar">
                        <img src="{{url+'/'+selectedAdviser.avatar}}" alt="">
                    </div>
                    <div class="info">
                        <span class="name">{{selectedAdviser.name}}</span>
                    </div>
                </div>
                <!-- end items -->
            </div>
            <!-- end adviser -->

            <!-- schedule -->
            <div class="schedule-container">
                    <button class="btn btn-success" ng-click="saveAssign()">Guardar</button>
                    <h2 class="title">Horario coincidente</h2>
                    <div class="schedule selectable selectable-actives">
                            
                    <div class="column-item" ng-repeat="dh in daysAndHours">
                        <div class="cell-item cell-header">{{dh.day}}</div>
                        <div ng-repeat="data in dh.data" class="cell-item cell-hour ng-class:checkIsExist(data.id)"  ng-click="toggleHour($event)" data-day-number="{{dh.day_number}}" data-hour-day-id="{{data.id}}">{{data.hour}}</div>
                    </div>
            
                </div>
            </div>
            <!-- end schedule -->
        </div>
    </div>
</div>