<div class="container-fluid">
    
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-outline-info">
                <!-- <div class="card-header">
                    <h4 class="m-b-0 text-white">Opciones</h4>
                </div> -->
                <div class="card-body">
                    <div class="form-inline">
                        <button ng-click="goToNewUser()" class="btn btn-primary basic-right-margin">
                            <i class="fa fa-plus"></i> Nuevo usuario
                        </button>
                        <button ng-click="getUsers()" ng-disabled="loading.status" class="btn btn-primary basic-right-margin">
                                <i class="fa fa-refresh"></i> Recargar
                        </button>
                        <!-- Search -->
                        <div class="input-group input-group-default">
                            <span class="input-group-btn">
                                <button class="btn btn-primary">
                                    <i class="ti-search"></i>
                                </button>
                            </span>
                            <input type="text" placeholder="Buscar" class="form-control" ng-model="userData" ng-change="searchUser(userData)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end options -->


    <!-- Update form -->
    <div class="row" ng-show="showUpdateForm">
        <div class="col-lg-12">
            <div class="card card-outline-info">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">Actualizar usuario</h4>
                </div>
                <div class="card-body">
                    <!-- _______Form________ -->
                    <form ng-submit="updateUser(user)">
                        <!-- hidden input id -->
                        <input type="hidden" ng-model="user.id">

                        <div class="form-group">
                            <label for="email">Correo electronico</label>
                            <input type="email" id="email" ng-model="user.email" class="form-control" placeholder="Correo electronico" required>
                        </div>
    
                        <div class="form-group">
                            <label for="pass">Contraseña</label>    
                            <input type="password" id="pass" ng-model="user.pass" class="form-control" placeholder="Contraseña" required>
                        </div>
    
                        <div class="form-group">
                            <label for="pass2">Re-ingresar Contraseña</label>    
                            <input type="password" id="pass2" ng-model="user.pass2" class="form-control" placeholder="Contraseña" required>
                        </div>
    
                        <div class="form-group">
                            <label for="role">Rol de usuario</label>    
                            <select id="role" ng-model="user.role" class="form-control" required>
                                <option value="moderator" selected>Moderador</option>
                                <option value="administrator">Administrador</option>
                            </select>
                        </div>
    
                        <div class="form-actions">
                            <button type="submit" ng-disabled="loading.status" class="btn btn-success"><i class="fa fa-check"></i> Guardar</button>
                            <button type="reset" class="btn btn-inverse">Limpiar</button>
                            <button type="button" ng-click="showUpdateForm = false" class="btn btn-default">Cancelar</button>
                            <span ng-show="loading.status"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end update form -->
    
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-outline-info">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">Usuarios registrados</h4>
                </div>

                <div class="card-body">
                    <p ng-hide="users.length > 0">{{loading.message}}</p>
                    <div class="table-responsive">
                        <table ng-show="users.length > 0" class="table table-bordered">
                            <tr>
                                <th>Id</th>
                                <th>Email</th>
                                <th>Fecha registro</th>
                                <th>Rol</th>
                                <th>Estado</th>
                                <th>Opciones</th>
                            </tr>
                            <tr ng-repeat="user in users">
                                <td>{{user.id}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.date_register}}</td>
                                <td>{{user.role}}</td>
                                <td>
                                    <span ng-show="user.status == 0" class="badge badge-danger">Deshabilitado</span>
                                    <span ng-show="user.status == 1" class="badge badge-warning">Sin confirmar</span>
                                    <span ng-show="user.status == 2" class="badge badge-success">Activo</span>
                                </td>
                                <td>
                                    
                                    <button ng-click="editUser(user)" class="opt-user-{{user.id}} btn btn-primary">Editar</button>
                                    <button ng-show="user.status == 0" ng-click="enableUser(user.id)" class="opt-user-{{user.id}} btn btn-success">Habilitar</button>
                                    <button ng-show="user.status == 1" ng-click="" class="opt-user-{{user.id}} btn btn-primary">Reenviar</button>
                                    <button ng-show="user.status == 2" ng-click="disableUser(user.id)" class="opt-user-{{user.id}} btn btn-warning">Deshabilitar</button>
                                    <button ng-click="deleteUser(user.id)" class="opt-user-{{user.id}} btn btn-danger">Eliminar</button>
                                    
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end users table -->

</div>