<div class="container-fluid">

    <!-- options -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-outline-info">
                <div class="card-body">
                    <div class="form-inline">
                        
                        <button ng-click="showNewPlan = true" class="btn btn-primary basic-right-margin">
                            <i class="fa fa-plus"></i> Nuevo Plan
                        </button>
                        <button ng-click="getPlans()" ng-disabled="loading" class="btn btn-primary basic-right-margin">
                                <i class="fa fa-refresh"></i> Recargar
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end options -->


    <div class="row">
        <!-- Tabla -->
        <div class="col-lg-12">
            <div class="card card-outline-info">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">Planes registrados</h4>
                </div>


                <div class="loader" ng-show="loading">
                    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                </div>

                <div class="card-body" ng-show="!loading">
                    <!-- Messge -->
                    <p ng-hide="plans.length > 0">No se encontrarón registros</p>
                    
                    <!-- Table -->
                    <div ng-show="plans.length > 0" class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <th>Plan</th>
                                <th>Fecha de registro</th>
                                <th>Estado</th>
                                <th>Opciones</th>
                            </tr>
                            <tr ng-repeat="p in plans">
                                <td>{{p.year}}</td>
                                <td>{{p.date_register}}</td>
                                <td>
                                    <span ng-show="p.status === 'DISABLED'" class="badge badge-danger">Deshabilitado</span>
                                    <span ng-show="p.status === 'ACTIVE'" class="badge badge-success">Activo</span>
                                </td>
                                <td>
                                    <button ng-click="editPlan(p)" class="opt-plan-{{p.id}} btn btn-primary">Editar</button>
                                    <button ng-show="p.status === 'DISABLED'" ng-click="enablePlan(p.id)" class="opt-plan-{{p.id}} btn btn-success">Habilitar</button>
                                    <button ng-show="p.status === 'ACTIVE'" ng-click="disablePlan(p.id)" class="opt-plan-{{p.id}} btn btn-warning">Deshabilitar</button>
                                    <button ng-if="isAdmin()" ng-click="deletePlan(p.id)" class="opt-plan-{{p.id}} btn btn-danger">Eliminar</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- end table -->
    </div>

</div>



<!-- Nuevo -->
<div class="modal-container modal-plan-new" ng-show="showNewPlan">
    <div class="col-lg-6">
        <div class="card" id="update">
            <div class="card-body">
                <h3>Nuevo plan</h3>
                <form action="" ng-submit="addPlan(newPlan)">
                    <div class="form-group">
                        <label for="plan">Ingrese plan:</label>
                        <input type="text" min="4" max="4" class="form-control" placeholder="Plan a 4 digitos" ng-model="newPlan" required>
                    </div>
                    <button type="submit" class="btn btn-success">Registrar</button>
                    <button ng-click="showNewPlan = false" type="reset" class="btn btn-outline-danger">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end nuevo -->

<!-- Update -->
<div class="modal-container modal-plan-update" ng-show="showUpdatePlan">
    <div class="col-lg-6" >
        <div class="card">
            <div class="card-body">
                <h3>Actualizar plan</h3>
                <form action="" ng-submit="updatePlan(plan)">
                    <!-- hidden input id -->
                    <input type="hidden" ng-model="plan.id">

                    <div class="form-group">
                        <label for="year">Año:</label>
                        <input type="text" id="year" class="form-control" ng-model="plan.year" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="button" ng-click="showUpdatePlan = false" class="btn btn-outline-danger">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end Update -->