.flicker{
    animation: flick;
    animation-duration: 1s;
    animation-direction: alternate;
    // animation-delay: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}



@keyframes flick {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.slide.ng-enter{
    animation-duration: .25s;
    height: 0;
}

.slide.ng-enter-active{
    height: auto;
}

.slide.ng-leave{
    animation-duration: .25s;
    height: auto;
}

.slide.ng-leave-active{
    height: 0;
}

.slideUp{
    animation-duration: .25s;
    animation: slideUp;
}

@keyframes slideUp {
    from {
        height: auto;
    }
    to {
        height: 0;
    }
}

.slideDown{
    animation-duration: .25s;
    animation: slideUp;
}


@keyframes slideDown {
    from {
        height: 0;
    }
    to {
        height: auto;
    }
}


//-------------------Schedule
@keyframes active-hour {
    from {
        background-color: rgba($hour-color-active, 0);
    }
    to {
        background-color: rgba($hour-color-active, 1);
    }
}




//--------------------ngAnimations

// fadeIn
.fadeIn.ng-enter{
    opacity: 0;
    transition:all ease-in 0.25s;
}

.fadeIn.ng-enter-active{
    opacity: 1;
}

// fadeOut
.fadeOut.ng-leave{
    opacity: 1;
    transition:all ease-in 0.25s;
}

.fadeOut.ng-leave-active{
    opacity: 0;
}