<div class="container">
    <h1>Periodos registrados</h1>
    <button ng-click="newPeriod = true" class="btn btn-primary">Nuevo periodo</button>
    <button ng-click="updatePeriod = true" class="btn btn-primary">Editar periodo</button>
    <button ng-click="updateStatusPeriod = true" class="btn btn-primary">Cambiar Status</button>
    <br><br>

    <div class="row">
        <div class="col-sm-6">
            <div ng-show="newPeriod">
                <form action="" ng-submit="add(period)">
                    <input required type="date" class="form-control" placeholder="Fecha de inicio" ng-model="period.start"><br>
                    <input required type="date" class="form-control" placeholder="Fecha de fin" ng-model="period.end"><br>       
                    <button class="btn btn-success" >Registrar periodo</button>
                </form>
            </div>
        </div>
        <div class="col-sm-6">
            <div ng-show="updatePeriod">
                <form action="" ng-submit="update(period)">
                    <input required type="number" class="form-control" placeholder="ID periodo" ng-model="period.id"><br>
                    <input required type="date" class="form-control" placeholder="Fecha de inicio" ng-model="period.start"><br>
                    <input required type="date" class="form-control" placeholder="Fecha de fin" ng-model="period.end"><br>       
                    <button class="btn btn-success" >Actualizar periodo</button>
                </form>
            </div>
        </div>
        <div class="col-sm-6">
            <div ng-show="updateStatusPeriod">
                <form action="" ng-submit="updateStatus(period)">
                    <input required type="text" class="form-control" placeholder="Id periodo" ng-model="period.id"><br>
                    <input required type="text" class="form-control" placeholder="Status" ng-model="period.status"><br>       
                    <button class="btn btn-success" >Cambiar status periodo</button>
                </form>
            </div>
        </div>
    </div>
    <br><br>

    <div style="width: 800px">
        <p ng-hide="periods.length > 0">{{loader.message}}</p>
        <table ng-show="periods.length > 0" border="1px solid" width="100%">
            <tr>
                <th>ID</th>
                <th>Fecha inicio</th>
                <th>Fecha fin</th>
                <th>Registro</th>
                <th>Estatus</th>
            </tr>
            <tr ng-repeat="period in periods">
                <td>{{period.id}}</td>
                <td >{{period.start}}</td>
                <td >{{period.end}}</td>
                <td>{{period.date_register}}</td>
                <td>{{period.status}}</td>
                <td>
                    <button ng-click="deletePeriod(period.id)" class="btn btn-danger btn-sm">Eliminar</button>
                </td>
            </tr>
        </table>
    </div>
</div>