<div class="container">
    <div class="row">
        <!-- profile -->
        <div class="section-profile col-xs-3">
            <div class="avatar-container">
                <img src="{{student.avatar}}" class="image-responsive" alt="Avatar">
            </div>        
        </div>

        <div class="data col-lg-9">
            <h2 class="name">{{student.first_name +' '+ student.last_name}}</h2>
            <!-- FIXME: desbordamiento -->
            <span class="data-item"><i class="icon fa fa-envelope"></i><span ng-bind="user.email"></span></span>
            <span class="data-item"><i class="icon fa fa-graduation-cap"></i><span ng-bind="student.career_name"></span></span>
            <span class="data-item"><i class="icon fa fa-id-card"></i><span ng-bind="student.itson_id"></span></span>
            <span class="data-item"><i class="icon fa fa-phone"></i><span ng-bind="student.phone"></span></span>
            <span class="data-item"><i class="icon fa fa-facebook"></i><span ng-bind="student.facebook"></span></span>
        </div>
            <!-- end profile -->
    </div>
</div>