<div class="container-fluid">
    
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-outline-info">
                <!-- <div class="card-header">
                    <h4 class="m-b-0 text-white">Opciones</h4>
                </div> -->
                <div class="card-body">
                    <div class="form-inline">
                        <button ng-click="goToNewStudent()" class="btn btn-primary basic-right-margin">
                            <i class="fa fa-plus"></i> Nuevo estudiante
                        </button>
                        <button ng-click="getStudents()" ng-disabled="loading.status" class="btn btn-primary basic-right-margin">
                                <i class="fa fa-refresh"></i> Recargar
                        </button>
                        <!-- Search -->
                        <div class="input-group input-group-default">
                            <span class="input-group-btn">
                                <button class="btn btn-primary">
                                    <i class="ti-search"></i>
                                </button>
                            </span>
                            <input type="text" placeholder="Buscar" class="form-control" ng-model="studentDataSearch" ng-change="searchStudent(studentDataSearch)">
                        </div>
                        <!-- Filtros -->
                        <div class="form-group">
                            <label for="career">Filtrar por carrera:</label>
                            <select ng-model="filterCareer" id="career" class="btn btn-primary">
                                <option value="0" selected="selected">0</option>
                                <option value="1" selected="selected">1</option>
                                <option value="2" selected="selected">2</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end options -->
    
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-outline-info">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">Estudiantes registrados</h4>
                </div>

                <div class="card-body">
                    <p ng-hide="students.length > 0">{{loading.message}}</p>
                    <div class="table-responsive">
                        <table ng-show="students.length > 0" class="table table-bordered">
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Email</th>
                                <th>Carrera</th>
                                <th>Fecha registro</th>
                                <th>Estado</th>
                                <th>Opciones</th>
                            </tr>
                            <tr ng-repeat="s in students">
                                <!-- <td>{{s.id}}</td> -->
                                <td>{{s.itson_id}}</td>
                                <td>{{s.first_name}} {{s.last_name}}</td>
                                <td>{{s.user_email}}</td>
                                <td>{{s.career_name}}</td>
                                <td>{{s.date_register}}</td>
                                <td>
                                    <span ng-show="s.status === 'DISABLED'" class="label label-danger">Deshabilitado</span>
                                    <span ng-show="s.status === 'ACTIVE'" class="label label-success">Habilitado</span>
                                    <span ng-show="s.status === 'PENDING'" class="label label-warning">Pendiente</span>
                                </td>
                                <td>
                                    <button ng-click="openStudent(s.id)" class="opt-student-{{s.user_id}} btn btn-primary">Detalles</button>
                                    <button ng-show="s.status === 'DISABLED'" ng-click="enableStudent(s.user_id)" class="opt-student-{{s.user_id}} btn btn-success">Habilitar</button>
                                    <button ng-show="s.status === 'PENDING'" ng-click="" class="opt-student-{{s.user_id}} btn btn-primary">Reenviar</button>
                                    <button ng-show="s.status === 'ACTIVE'" ng-click="disableStudent(s.user_id)" class="opt-student-{{s.user_id}} btn btn-warning">Deshabilitar</button>
                                    <button ng-click="deleteStudent(s.user_id)" class="opt-student-{{s.user_id}} btn btn-danger">Eliminar</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end students table -->

</div>