<div class="container" ng-show="loading.status">
    <div class="loader text-center"><span class="fa fa-spinner fa-spin fa-3x"></span></div>
</div>


<!-- Asesorias -->
<div class="container">
    <div class="row">
            
            <div class="col-lg-12">
                <div class="header text-center">
                    <h2>Asesorias</h2>
                    <P>Para poder solicitar asesorias, debes crear un horario de disponibilidad</P>
                    <hr>
                </div>

                <div ng-include="'app/partials/period-message.html'"></div>

                <!-- content -->
                <div class="content" ng-if="period != null">
                    <!-- Tabs -->
                    <div class="advisories-tabs">
                        <button ng-click="getRequestedAds()" class="tab btn btn-primary">Asesorias</button>
                        <button ng-click="getAdviserAds()" class="tab btn btn-primary">Mis alumnos</button>
                        <!-- <button class="tab btn btn-primary">Materias</button>
                        <button class="tab btn btn-primary">Horario</button> -->
                    </div>


                    <!-- asesorias solicitadas -->
                    <div class="advisories-container requested" ng-if="showRequestedAds">
                        <div ng-if="requestedAds.length == 0" class="text-center alert alert-primary" role="alert">No ha solicitado asesorias. Puede solicitar una seleccionando la opción "solicitar"</div>


                        <div class="advisories">

                            <!-- new -->
                            <div class="item new" ng-click="newRequest()">
                                <div class="icon-container">
                                    <span class="icon fa fa-plus"></span>
                                    <!-- Solicitar -->
                                </div>
                            </div>
                            <!-- end new -->
                            
                            <!-- items -->
                            <div class="item" ng-repeat="ad in requestedAds">
                                <div class="avatar">
                                    <img ng-show="ad.adviser_id != null" src="../../../../assets/img/teacher_assign.jpg" alt="">
                                    <img ng-show="ad.adviser_id == null" src="../../../../assets/img/teacher_empty.jpg" alt="">
                                </div>
                                <div class="info">
                                    <div ng-show="ad.adviser_id != null" class="info-item student" >{{ad.adviser_first_name}} {{ad.adviser_last_name}}</div>
                                    <div ng-show="ad.adviser_id == null" class="info-item student" >SIN ASESOR</div>
                                    <div class="info-item subject">{{ad.subject_name}}</div>
                                    <div class="info-item status">
                                        <span ng-show="ad.status === 'PENDING'" class="label label-default">Pendiente</span>
                                        <span ng-show="ad.status === 'ACTIVE'" class="label label-success">Activo</span>
                                        <span ng-show="ad.status === 'FINALIZED'" class="label label-danger">Finalizado</span>
                                    </div>
                                    
                                    <button class="btn-opt" ng-click="finalize(ad.id)" ng-show="ad.status === 'PENDING' || ad.status === 'ACTIVE'">Finalizar</button>
                                </div>
                            </div>
                            <!-- end items -->
                            
                        </div>
                    </div>
                    <!--end asesorias solicitadas -->


                    <!-- alumnos -->
                    <div class="advisories-container adviser" ng-show="showAdviserdAds">
                            <div class="advisories">
    
                                <p ng-show="adviserAds.length == 0">No hay asesorias</p>
    
                                <!-- items -->
                                <div class="item" ng-repeat="ad in adviserAds">
                                    <div class="avatar">
                                        <img ng-show="ad.adviser_id != null" src="../../../../assets/img/student_assign.jpg" alt="">
                                        <img ng-show="ad.adviser_id == null" src="../../../../assets/img/student_empty.jpg" alt="">
                                    </div>
                                    <div class="info">
                                        <div ng-show="ad.alumn_id != null" class="info-item student" >{{ad.alumn_name}} {{ad.alumn_last_name}}</div>
                                        <div ng-show="ad.alumn_id == null" class="info-item student" >GASPARIN</div>
                                        <div class="info-item subject">{{ad.subject_name}}</div>
                                        <div class="info-item status">
                                            <span ng-show="ad.status === 'PENDING'" class="label label-warning">Pendiente</span>
                                            <span ng-show="ad.status === 'ACTIVE'" class="label label-success">Activo</span>
                                            <span ng-show="ad.status === 'FINALIZED'" class="label label-danger">Finalizado</span>
                                        </div>
    
                                        <button class="btn-opt" ng-click="finalize(ad.id)" ng-show="ad.status === 'PENDING' || ad.status === 'ACTIVE'">Finalizar</button>
                                    </div>
                                </div>
                                <!-- end items -->
                            </div>
                        </div>
                        <!-- end alumnos -->


                </div>
                <!-- end content -->

            </div>

    </div>
</div>
<!--end Asesorias -->









<div class="new-advisory-container modal-container fadeIn" ng-show="showNewRequest">
    <div class="container">
        
        <div class="subjects-container">
            <div class="options">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="buscar">
                </div>
                <button class="btn btn-outline-danger" ng-click="closeNewAdvisory()">Cancelar</button>
                <button class="btn btn-outline-success" ng-click="requestAdvisory()">Solicitar</button>
            </div>
            <div class="subjects selected-items">
                <div class="item" ng-show="selectedSub != null" ng-click="selectedSub = null" data-subject-id="{{selectedSub.subject_id}}">{{selectedSub.name}}</div>
            </div>
            <hr>

            <div class="subjects selectable">
                <div class="item" ng-repeat="sub in subjects" ng-click="selectSub(sub)" data-subject-id="{{sub.subject_id}}">{{sub.name}}</div>
            </div>
        </div>

    </div>
</div>