<h2>Asesorias</h2>
<p>Periodo: dd/mm/aaaa a dd/mm/aaaa</p>
<hr>

<div class="advisories">

    <div class="item new">
        <div class="icon-container">
            <span class="icon fa fa-plus"></span>
        </div>
    </div>
    
    <div class="item">
        <div class="avatar">
            <img src="https://avatars3.githubusercontent.com/u/3618925?s=460&v=4" alt="">
        </div>
        <div class="info">
            <div class="info-item student">Carlos Zuñiga</div>
            <div class="info-item subject">Programacio II</div>
            <div class="info-item status">
                <span class="badge badge-danger">Status</span>
                <!-- <span ng-show="p.status == 0" class="badge badge-danger">Cancelado</span>
                <span ng-show="p.status == 1" class="badge badge-success">Activo</span>
                <span ng-show="p.status == 2" class="badge badge-primary">Pendiente</span>
                <span ng-show="p.status == 3" class="badge badge-primary">Finalizado</span> -->
            </div>
        </div>
    </div>
</div>