<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-title text-center">
                <h2>Asesorias registradas</h2>
                <p ng-show="period.data != null">Periodo: {{period.data.start}} a {{period.data.end}}</p>
                <p ng-show="period.data == null">{{period.message}}</p>
            </div>
            <hr>
            <div class="loader" ng-show="loading.status"><span class="fa fa-spinner fa-spin fa-3x"></span></div>

            <!-- content -->
            <div class="content">

            </div>
            <!-- end-content -->
        </div>

<!--         
        <div class="section-content col-xs-12 col-lg-9">
            <p ng-show="!loading.status">{{loading.message}}</p>
            
            <h2>Asesorias</h2>
            <p>Periodo: dd/mm/aaaa a dd/mm/aaaa</p>
            <hr>
            
            <div class="new-advisorie-container">
                <div class="content">
                    <h1>sasdasd</h1>
                </div>
            </div>
            
            <div class="advisories">
            
                <div class="item new">
                    <div class="icon-container">
                        <span class="icon fa fa-plus"></span>
                    </div>
                </div>
                
                <div class="item">
                    <div class="avatar">
                        <img src="https://avatars3.githubusercontent.com/u/3618925?s=460&v=4" alt="">
                    </div>
                    <div class="info">
                        <div class="info-item student">Carlos Zuñiga</div>
                        <div class="info-item subject">Programacio II</div>
                        <div class="info-item status">
                            <span class="badge badge-danger">Status</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- end content -->
    </div>
</div>



<div class="new-advisory-container fadeIn">
    <div class="container">
        <div class="row"></div>
    </div>
</div>

