<div class="section advisories-section" ng-controller="AdvisoriesController">
    <div class="container">

        <div class="advisories-container">

            <!-- spinner -->
            <div class="spinner-container" ng-if="loading">
                <div class="spinner"></div>
            </div>

            <div class="require-message fadeIn" ng-if="showRequireSchedule">
                <div class="alert alert-warning">
                    <h4 class="alert-heading">Sin Horas disponibles</h4>
                    <p>
                        No tiene un horario de disponibilidad. Para poder recibir asesorías es necesario indicar un horario seleccionando las horas en las que puedes recibir aseserías. Para crear un horario presione <a href="#!/escritorio/horario">aqui</a>
                    </p>
                </div>
            </div>


            <!-- asesorías -->
            <div class="advisories" ng-if="!loading && !showRequireSchedule">

                <!-- emtpy advisories message -->
                <div class="empty text-center" ng-if="advisories.length == 0">
                    <p class="alert alert-primary">No ha solicitado asesorías</p>
                    <p>Cambiar por imagen jejeje</p>
                </div>

                <!-- new -->
                <div class="item new" ng-click="newRequest()">
                    <div class="icon-container">
                        <span class="icon fa fa-plus"></span>
                        <!-- Solicitar -->
                    </div>
                </div>
                <!-- end new -->

                <!-- items -->
                <div class="item" ng-repeat="ad in advisories">
                    <div class="avatar">
                        <img ng-show="ad.adviser_id != null" src="../../../../assets/img/teacher_assign.jpg" alt="">
                        <img ng-show="ad.adviser_id == null" src="../../../../assets/img/teacher_empty.jpg" alt="">
                    </div>
                    <div class="info">
                        <div ng-show="ad.adviser_id != null" class="info-item student" >{{ad.adviser_first_name}} {{ad.adviser_last_name}}</div>
                        <div ng-show="ad.adviser_id == null" class="info-item student" >SIN ASESOR</div>
                        <div class="info-item subject">{{ad.subject_name}}</div>
                        <div class="info-item status">
                            <span ng-show="ad.status === 'PENDING'" class="badge badge-warning">Pendiente</span>
                            <span ng-show="ad.status === 'ACTIVE'" class="badge badge-success">Activo</span>
                            <span ng-show="ad.status === 'FINALIZED'" class="badge badge-danger">Finalizado</span>
                        </div>
                    </div>
                    <div class="options">
                        <button class="btn-opt btn-show btn btn-primary" ng-click="openSchedule(ad)">Ver Horario</button>

                        <button class="btn-opt btn btn-outline-danger" ng-click="finalize(ad.id)" ng-show="ad.status === 'PENDING' || ad.status === 'ACTIVE'">Finalizar</button>
                    </div>
                </div>
                <!-- end items -->


            </div>
            <!-- end asesorías -->


        </div>

    </div>


    <!-- Modal: request advisory -->
    <div class="new-advisory-container modal-wrap fadeIn" ng-if="showNewRequest">
        <div class="container">
            
            <div class="col-lg-12">
                <div class="card">
                    <div class="subjects-container">
                        <div class="options">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="buscar">
                            </div>
                            <button class="btn btn-outline-danger" ng-click="closeNewAdvisory()">Cancelar</button>
                            <button class="btn btn-outline-success" ng-click="requestAdvisory()">Solicitar</button>
                        </div>
                        <div class="subjects selected-items">
                            <div class="item" ng-show="selectedSub != null" ng-click="selectedSub = null" data-subject-id="{{selectedSub.subject_id}}">{{selectedSub.name}}</div>
                        </div>
                        <hr>
            
                        <div class="subjects selectable">
                            <div class="item" ng-repeat="sub in subjects" ng-click="selectSub(sub)" data-subject-id="{{sub.subject_id}}">{{sub.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    <!-- end request advisory -->


    <!-- Moda: advisory schedule -->
    <div class="modal-wrap fadeIn" ng-show="showAdvisorySchedule">
        <div class="container">

            <div class="card">

                <h2 class="title text-center">Horario de asesoría</h2>
    
                <!-- spinner -->
                <div class="spinner-container" ng-if="loading">
                    <div class="spinner"></div>
                </div>
        
                <!-- schedule -->
                <div class="schedule-container" ng-show="!loadingSchedule">
                    
                    <button ng-click="showAdvisorySchedule = false"  class="btn btn-danger">Cerrar</button>


                    <div class="schedule">
                            
                        <div class="column-item" ng-repeat="dh in daysAndHours">
                            <div class="cell-item cell-header">{{dh.day}}</div>
                            <div ng-repeat="hour in dh.hours" class="cell-item cell-hour ng-class:checkIfExist(hour.id)"  ng-click="toggleHour($event)" data-day-number="{{dh.day_number}}" data-hour-day-id="{{hour.id}}">{{hour.hour}}</div>
                        </div>
            
                    </div>
                </div>
                <!-- end schedule -->
            </div>

        </div>
    </div>
    <!-- end advisory schedule -->

</div>







