<div class="section advisories-section" ng-controller="AdvisoriesController">
    <div class="container">

        <div class="advisories-container">

            <!-- spinner -->
            <div class="spinner-container" ng-if="loading">
                <div class="spinner"></div>
            </div>


            <!-- asesorías -->
            <div class="advisories" ng-if="!loading">

                <!-- emtpy advisories -->
                <div class="empty text-center" ng-if="requestedAds.length == 0">
                    <p class="alert alert-primary">No ha solicitado asesorias</p>
                    <p>Cambiar por imagen jejeje</p>
                </div>


                <!-- with content -->
                <div class="empty text-center" ng-if="requestedAds.length > 0">
                    <p class="alert alert-success">Sí tienes asesorias man</p>
                    <p>Reemplazar por asesorias</p>
                </div>


            </div>
            <!-- end asesorías -->


        </div>

    </div>
</div>