<!DOCTYPE html>
<html lang="es" ng-app="Desktop">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Asesorias par | Escritorio</title>

    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../vendor/angular-notification/angular-ui-notification.min.css">
    <link rel="stylesheet" href="../assets/icons/font-awesome/css/font-awesome.min.css">
    <!-- custom -->
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<!-- <body ng-class="{no-scroll: loadingState == true}"> -->
<body>

    <div class="main-wrapper">
        <header class="header">
            <!-- main menu -->
            <nav class="main-menu">
                <div class="container">
                    <ul class="nav-bar">
                        <li class="nav-item">
                            <a href="#!/escritorio" class="nav-btn" ng-class="{ active: menu.title == 'desktop' }">Escritorio</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!/perfil" class="nav-btn" ng-class="{ active: menu.title == 'profile' }"><span class="fa fa-user"></span> Perfil</a>
                        </li>
                        <li class="nav-item">
                            <a href="" ng-click="signOut()" class="nav-btn color-secondary"><span class="fa fa-lock"></span>  Cerrar sesion</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- end main menu -->
            

            <!-- title -->
            <div class="container">
                <div class="header-title">
                    <h2 class="title" ng-bind="page.title"></h2>
                </div>
            </div>
            <!-- end title -->
            
        </header>

        <div class="main-loader modal-main fadeOut" ng-if="loadingState">
            <div class="content">
                <div class="spinner"></div>
                <h3 class="text flicker">Cargando...</h3>
            </div>
        </div>


        
        <!-- start main -->
        <div class="main">
            <div ng-view=""></div>
        </div>
        <!-- end main -->
        


        <!-- footer -->
        <!-- <footer style="position: absolute; bottom: 0">Hello Footer</footer> -->
        <!-- end footer -->
    </div>
    
    
    


    <!-- _____________SCRIPTS_______________ -->
    <script src="../vendor/angularjs/angularjs.min.js"></script>
    <script src="../vendor/angularjs/angular-route.min.js"></script>
    <script src="../vendor/angularjs/angular-local-storage.min.js"></script>
    <script src="../vendor/angular-notification/angular-ui-notification.min.js"></script>
    <script src="../vendor/angularjs/angular-animate.min.js"></script>
    <script src="../vendor/jquery/jquery.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/lib/bootstrap/js/popper.min.js"></script>

    <!-- CUSTOM -->
    <script src="../host.module.js"></script>
    <script src="../auth.module.js"></script>
    <script src="app.module.js"></script>
    <script src="app.routes.js"></script>

    <!-- desktop -->

    <script src="app/components/desktop/desktopController.js"></script>

        <!-- asesorias -->
        <script src="app/partials/desktop/advisories/advisoriesService.js"></script>
        <script src="app/partials/desktop/advisories/advisoriesController.js"></script>

        <!-- horario -->
        <script src="app/partials/desktop/schedule/scheduleService.js"></script>
        <script src="app/partials/desktop/schedule/scheduleController.js"></script>

    <!-- profile -->
    <script src="app/components/profile/profileService.js"></script>
    <script src="app/components/profile/profileController.js"></script>

</body>
</html>