.modal-wrap{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(#212121, .7);
    // background-color: rgba(#fff, 1);

    display: flex;
    justify-content: center;
    align-items: center;

    // overflow: scroll;


    .card{
        // background-color:red;
        height: 500px;
        overflow-y: scroll;
    }
    
}